body {
    margin: 0;
    padding: 0;
    background-color: #6a5acd; /* Purpleish Blue */
    color: #fff;
    font-family: Arial, sans-serif;
}

.container {
    text-align: center;
    padding: 50px;
}

h1 {
    font-size: 2em;
}

#ip-address {
    font-size: 1.5em;
}

.footer {
    background-color: #483d8b; /* Dark Slate Blue */
    color: #fff;
    padding: 10px;
    text-align: center;
}

.footer img {
    height: 20px;
    vertical-align: middle;
}
